main section {
  border: 1px solid lightgrey;
  max-width: 20rem;
}
form .form-group input {
  width: 200px;
  border: 1px solid lightgray;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
}
