#settings-form {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 30%;
}

.heading h6 {
  text-align: center;
}

.submitNewAdmin {
  width: 100%;
}
