.mainContainer {
  width: 100%;
}

.charts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  margin-top: 60px;

  .content {
    display: flex
  }
  
  h2 {
    margin-bottom: 60px
  }
}