.mainNav {
  height: 10vh;
  width: 100%;
}

.fullWidth {
  width: 35%;
  padding-left: 20px;
}

input[type="text"],
input[type="number"] {
  background-color: $searchBar-grey;
  border: none;
}

button {
  img {
    width: 20px;
  }
}

.admin-settings-container {
  width: 20%;
}
