.listing-container {
  height: 90vh;
  @include flex(space-around, center, column);
}

.carousel-slider {
  width: 640px;
  height: 426px;
}
.carouselImg {
  width: 640px;
  height: 426px;
  object-position: center;
  object-fit: cover;
}
