.btnCommonStyles {
  width: auto;
}
.btn-outline-secondary {
  &:hover,
  &:focus {
    box-shadow: none !important;
  }
  &:hover {
    color: white;
  }
}
.btn-clicked {
  border-color: $primary-blue !important;
  background-color: $primary-blue !important;
  color: white !important;
  &:hover,
  &:focus {
    color: white;
  }
}
