.textInputContainer{
    @include flex(center, flex-start, column );
    margin-bottom: 1rem;
    input {
        @include border(1px, solid, $input-borders, 4px);
        padding: 0.2rem 1rem;
        width: 100%;
        &:focus{
            @include border(3px, solid, $primary-orange-half-opacity, 4px);
        }
    }
}